<header class="header">
    <div class="container">
        <div class="header__inner">

            <div class="user">
                <div class ="user__avatar">
                    <img [src]=user.avatar alt="avatar" width="40px">
                </div>
                <div class="user__content">
                    <div class="user__name">
                        {{user.first_name}}<br>{{user.last_name}}
                    </div>
                    <div class="user__prof">{{user.profession_1}}</div>
                </div>
            </div>

            <nav class="nav">
                <a class="nav__link" [href]=user.nav_work>WORK</a>
                <a class="nav__link" [href]=user.nav_about_me>ABOUT ME</a>
                <a class="nav__link" [href]=user.nav_blog>BLOG</a>
                <a class="nav__link" [href]=user.nav_contact>CONTACT</a>
                <a class="nav__link HIRE" [href]=user.nav_hire_me>HIRE ME</a>
            </nav>
        </div>
    </div>
</header>
