<header class="header">
    <div class="container">
        <div class="header__inner">

            <div class="user">
                <div class ="user__avatar">
                    <img [src]=user.avatar alt="avatar" width="40px">
                </div>
                <div class="user__content">
                    <div class="user__name">
                        {{user.first_name}}<br>{{user.last_name}}
                    </div>
                    <div class="user__prof">{{user.profession_1}}</div>
                </div>
            </div>

            <nav class="nav">
                <a (click)="toWork()" class="nav__link" [routerLink]=user.nav_work routerLinkActive="active">WORK</a>
                <a (click)="toAbout()" class="nav__link" [routerLink]=user.nav_about_me routerLinkActive="active">ABOUT ME</a>
                <a (click)="toBlog()" class="nav__link" [routerLink]=user.nav_blog routerLinkActive="active">BLOG</a>
                <a (click)="toContact()" class="nav__link" [routerLink]=user.nav_contact routerLinkActive="active">CONTACT</a>
                <a class="nav__link HIRE" (click)="openContact(true)">HIRE ME</a>
            </nav>
        </div>
    </div>
</header>
