<div class="modal">
    <div class="modal__dialog">

        <button class="modal__close" type="button">
            <img src="./assets/close.png" alt="close" width="20px">
        </button>

        <div class="modal-work">
            <div class="modal-work__preview">
                <div class="modal-work__header">
                    <h3 class="modal-work__title">Характеристика архетипів Блазень, Коханець та Свій хлопець: які українські бренди мають такі архетипи</h3>
                    <div class="modal-work__category">Архетипи брендів</div>
                </div>
                <div class="modal-work__photo">
                    <img src="./assets/works_1_1.JPG" alt="work" width="600px">
                </div>                        
            </div>
            <div class="modal-work__content">
                <div class="modal-work__text">
                    <p>Бренди Блазня, Коханця та Свого хлопця об'єднує прагнення до приналежності. 
                    Людям яким важливі ці бренди потрібно відчувати привабливість, популярність, мати хороші стосунки з 
                    оточенням. Потенційних покупців брендів Блазня, Коханця та Свого хлопця цікавлять такі питання: 
                    “Я красивий/а?”, “Як мені зустріти кохання?”, “Мене приймають друзі такою/ким як я є?”, “Що зробити, щоб отримувати від життя насолоду?”</p>
                    <p>Бренд Блазень<br>
                    Це архетип який любить жарти й цим може порушувати основи людських переконань. 
                    Блазень це також клоун, стендап комік, жартівник. Він дозволяє сміятись над важкими суспільними темами. 
                    Такий бренд закликає послабити самоконтроль і веселитись. Цей архетип найбільше підходить для того, щоб впоратись з сірими буднями, бюрократією та аморфністю.
                    До брендів з архетипом Блазня в Україні належить ПАТ “Студія Квартал-95”. Її співзасновник актор, комік, а зараз президент України Володимир Зеленський 
                    відповідав цьому архетипу коли був артистом. До архетипу Блазня теж належать бренди “Файна Юкрайна”, 
                    “Вар'яти-шоу”, “Хто зве́рху ?”. Їхній співзасновник та комік, актор, політик й волонтер Сергій 
                    Притула відповідав архетипу до переходу в політику. Гумористично-аналітичне шоу "#@)₴?$0 з 
                    Майклом Щуром" також з архетипом Блазня.</p>                                
                    <p>Бренд Коханець<br>
                    Реклама бренду з архетипом Коханця часто буває еротична. Архетип Коханець охоплює всі види любові: батьківську, дружню, духовну та романтичне кохання. Найчастіше в Україні архетип Коханця можна побачити в рекламі спідньої білизни, косметики, ювелірних прикрас та солодощів. Будь-який бренд, що обіцяє красу та сексуальну привабливість — це бренд Коханця.
                    В Україні такими є ювелірний завод “Золотий Вік”, він заявляє : “Тобі личить моє кохання”, “Почуття прикрашають”. Бренд шоколаду “Корона” у своїх рекламних роликах переконує: “Корона смак бажання”, “Корона смак справжніх почуттів”. Реклама шоколаду AMOUR Dolci компанії “КОНТІ” за 2010 рік показує еротичні сцени закоханої пари, на фоні звучить твердження: “AMOUR там де любов”.
                    Буває і примітивне використання архетипу Коханця. До них належать рекламні написи: “СОСИ СОЧНА Я” на ятках швидкого харчування. Банери, на яких рекламують цемент але зображенні оголені жінки з написом: “Зі мною стає твердіший” та інші.</p>
                    <p>Бренд Свій хлопець<br>
                    Архетип Свого хлопця чітко простежується у народній музиці, профспілках, місцевих фестивалях і карнавалах. Фільмах, що зображають слабкості пересічних людей.
                    Коли в людині активізується архетип Свого хлопця, вона одягає повсякденний одяг (навіть у тому випадку, якщо ця людина заможна), говорить на простонародній мові, уникає елітності за будь-яку ціну. У цих вчинках закладено цінність та важливість людини як особистості. Ідея цього архетипу у тому, що всі хороші речі належать всім людям, а не тільки аристократам або багатіям.</p>
                    <p>Представником бренду Свій хлопець є українська мережа ресторанів національної кухні “Пузата хата”, українська мережа закладів громадського харчування “Львівські Круасани”, український інтернет-магазин та маркетплейс “Rozetka.ua”. За книгою Пірсон К., Марк М. - «Герой і бунтар. Створення бренду за допомогою архетипів».</p>
                </div>
            </div>
        </div>
    </div>
</div>