<section class="about">
    <div class="container">
        <div class="about__inner">
            <div class="about__photo">
                <img class="img" src="./assets/photo_2021-12-17_21-38-48.jpg" alt="my_photo" width="500px">
            </div>
            <div class="about__content">
                <h3 class="about__title">ABOUT ME</h3>  
                <h2 class="about__big-title">WHO AM I</h2>
                <div class="about__text">
                    <p>Hello, I founded AGENCY_TEXT_UA to write advertising and news texts. 
                        I search and correct advertising texts. I write my texts for advertising.</p>
                    <p>It is important for me that the text is simple and useful, that care for 
                        the client is felt. I am professionally engaged in project management</p>
                    <p>Hello, I founded AGENCY_TEXT_UA to write advertising and news texts. 
                        I search and correct advertising texts. I write my texts for advertising.</p>
                    <p>It is important for me that the text is simple and useful, that care for the 
                        client is felt. I am professionally engaged in project management</p>
                </div>
                <a class="btn HIRE" href="#">HIRE ME</a>
                <a class="btn" href="#">SEE MY RESUME</a>
            </div>
        </div>
    </div>
</section>
