<section class="about">
    <div class="container">
        <div class="about__inner">
            <div class="about__photo">
                <img class="img" src="./assets/photo_2021-12-17_21-38-48.jpg" alt="my_photo" width="500px">
            </div>
            <div class="about__content">
                <h3 class="about__title">ABOUT ME</h3>  
                <h2 class="about__big-title">WHO AM I</h2>
                <div class="about__text">
                    <p>Hello! My name is Dmytro Hobatyuk, I am a storyteller and Junior Project Manager. 
                    This platform is a mirror of my personality, text works and values that guide me.</p>
                    <p>I have +3 years of commercial experience in the field of financial analytics and 
                    two higher education diplomas. Now I stand side by side with many Ukrainians defending 
                    our land from the Russian occupation regime. But I believe the time will come and we 
                    will all return to civilian spheres of life.</p>
                    <p>My field is communication with people, setting up the right working relationships and 
                    agreements, high-quality delivery of information. If you share my principles, contact me.</p>
                </div>
                <a class="btn HIRE" href="#">HIRE ME</a>
                <a class="btn" href="#">SEE MY RESUME</a>
            </div>
        </div>
    </div>
</section>
