$black: #000;
$white: #fdfdfd;
$grey: #333;
$light_grey: #a6a6a6;

.modal-window { //locked background
    display: flex; //none;// 
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    //background: rgba($color: $black, $alpha: .8);
    position: fixed;
    padding: 15px;
    overflow: auto;
  }

.modal__dialog {
    width: 100%;
    max-width: 900px;
    margin: auto;
    background-color: $white;
    position: relative;

        .contact {
            display: flex;
            margin-bottom: 30px;

            .contact__right {
                width: 55%;
                background-image: url(/assets/contact.JPG);
                background-position: center center;
                background-size: cover;
                margin-left: 30px;
            }

            .contact__left {
                width: 45%;
                padding: 30px;

                .contact__text {
                    color: $light_grey;
                    font-size: 14px;
                }
    
                .contact__title {
                    font-size: 45px;
                    color: $black;
                    margin-bottom: 10px;
                }

                .contact__info {
                    margin: 30px 20px;
                    padding: 0;
                    list-style: none;
                    font-size: 14px;
                    color: $black;
                    font-weight: 400;

                    .contact__info-list{
                        display: flex;
                        align-items: center;
                        margin-bottom: 10px;

                        .contact__icon {
                            margin-right: 10px;
                        }
                    }
            }
        }

        .form {

            .text-right {
                text-align: right;

                .btn-send {
                    font-size: 16px;
                    background-color: $black;
                    color: $white;
                    text-transform: uppercase;
                    font-weight: 400;
                    text-decoration: none;
                    padding: 10px 30px;
                    border-radius: 25px;
                    transition: box-shadow .2s linear, background-color .2s linear;
                    
            
                    &:hover {
                        border: 1px solid $grey;
                        background-color: $white;
                        color: $black;
                        box-shadow: 2px 2px 10px rgba($color: $black, $alpha: 0.3);
                    }
                }
            }

            .form__group {
                margin-bottom: 27px;

                .label {
                    display: inline-block;
                    font-size: 12px;
                    color: $black;
                    font-weight: 700;
                    margin-bottom: 9px;
                    margin-left: 20px;
                }
        
                .input, .textarea {
                    display: block;
                    width: 100%;
                    border: 1px solid rgba($color: $black, $alpha: .3);
                    border-radius: 27px;
        
                    padding: 15px 15px;
                    font-family: inherit;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 18px;
                    color: $grey;
        
                    &:focus {
                        outline: none;
                        border-color: $grey;
                    }
                    &:placeholder {
                        color: $grey;
                    }
                }

                .textarea {
                    height: 200px;
                    resize: none;
                    
                }
            }
        }
            
    }           

}
    