<section class="intro">
    <div class="container">
        <div class="intro__inner">
            <div class="intro__content">
                <h2 class="intro__subtitle">Hello i`m</h2>
                <h1 class="intro__title">Dmytro Hobatiuk</h1>
                <div class="intro__text">Storyteller &amp; Project manager</div>

                <div class="social">
                    <a class="social__link" href="#">
                        <img src="assets/linkdin_black.png" alt="linkdin" width="30px">
                    </a >
                    <a class="social__link" href="#">
                        <img src="assets/instagram_black.png" alt="instagram" width="32px">
                    </a>
                    <a class="social__link" href="#">
                        <img src="assets/facebook_black.png" alt="facebook" width="30px">
                    </a>
                </div>

                <a class="intro__link HIRE" href="#">HIRE ME</a>
                <a class="btn" href="#">SEE MY RESUME</a>

            </div> 
            <img class="intro__photo" src="assets/intro.jpg" alt="my_photo">
        </div>
    </div>
</section>

