$black: #000;
$white: #fdfdfd;
$grey: #333;
$light_grey: #a6a6a6;

body{
  
    h1, h2, h3, h4, h5, h6 {
      margin: 0;
    }

      &.no-scroll{
          overflow: hidden;
        }
    }

  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    }

    .text-center {
      text-align: center;
      margin-bottom: 50px;
  }

  .portfolio {
    display: flex;
    flex-wrap: wrap; //move items to next row
    margin: 30px 0;
  }

  .articles__col {
    width: 33.33333%;
    padding: 0 15px;
    margin: 0 -15px;
}

  .modal { //locked background
    display: none;// flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba($color: $black, $alpha: .8);
    position: fixed;
    padding: 15px;
    overflow: auto;
  }
  
  .modal-blog { //locked background
    display: none;// flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba($color: $black, $alpha: .8);
    position: fixed;
    padding: 15px;
    overflow: auto;
  }

  .blog {
    margin-top: 100px;

    .blog__header {
        text-align: center;
        margin-bottom: 50px;

        .blog__title {
            font-size: 45px;
            color: $black;
            text-transform: uppercase;
            font-weight: 700;
            margin-bottom: 10px;
        }
        
        .blog__text {
            font-size: 20px;
            color: $light_grey;
        }
    }
}