<div class="modal-blog-window">
    <div class="modal-blog-window__dialog">

        <button class="modal-blog-window__close" type="button">
            <img src="../assets/close.png" alt="close" width="20px" (click)="closeBlog()">
        </button>
    
        <div class="modal-blog">
            <div class="modal-blog__preview">
                <div class="modal-blog__header">
                    <h3 class="modal-blog__title">{{blog.title}}</h3>
                    <div class="modal-blog__category">{{blog.category}}</div>
                </div>
                <div class="modal-blog__photo">
                    <img [src]="blog.image" alt="blog">
                </div>                        
            </div>
            <div class="modal-blog__content">
                <div class="modal-blog__text">{{blog.text}}
                </div>
            </div>
        </div>
    </div>
</div>

