<div class="mouse-parallax">
    
    <div class="mouse-parallax__background"></div>
    <div class="mouse-parallax__content">

       <div class="mouse-parallax__avatar">
            <img [src]=user.avatar width="200px" alt="avatar"></div>
        <div class="mouse-parallax__name">{{user.first_name + " " + user.last_name}}</div>
        <div class="mouse-parallax__description">{{user.description}}</div>
        <div class="mouse-parallax__social">
            <a class="mouse-parallax__social-link" [href]=user.linkdin_url>
                <img [src]=user.linkdin_icon_black alt="linkdin" width="25px">
            </a >
            <a class="mouse-parallax__social-link" [href]=user.instagram_url>
                <img [src]=user.instagram_icon_black alt="instagram" width="26px">
            </a>
            <a class="mouse-parallax__social-link" [href]=user.facebook_url>
                <img [src]=user.facebook_icon_black alt="facebook" width="25px">
            </a>
        </div>
        <div>
            <a class="mouse-parallax__nav" [href]=user.nav_work>WORK</a>
            <a class="mouse-parallax__nav" [href]=user.nav_about_me>ABOUT ME</a>
            <a class="mouse-parallax__nav" [href]=user.nav_blog>BLOG</a>
        </div>
    </div>
  </div>