$black: #000;
$white: #fdfdfd;
$grey: #333;
$light_grey: #a6a6a6;

.mouse-parallax {
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;

    .mouse-parallax__background {
        position: absolute;
        z-index: -1;
        width: 110%;
        height: 110%;
        background-image: url(/assets/fon.jpg);
        background-position: center center;
        background-size: cover;
    }

    .mouse-parallax__content {
        width: 275px;
        height: 400px;
        border: 1px solid $white;
        background: rgba($color: $white, $alpha: 0.7);
        margin: 20px auto;
        text-align: center;
        color: $black;
        align-items: center;
        border-radius: 5%;

        .mouse-parallax__avatar {
            display: flex;
            align-items: center;
            justify-content: center;
        
            img {
                border-radius: 50%;
                margin: 20px;
            }
        }
        
        .mouse-parallax__name {
            font-size: 28px;
            color: $black;
            font-weight: 700;       
        }
        
        .mouse-parallax__description {
            font-size: 14px;
            color: rgba($color: $black, $alpha: 0.7);
            margin-bottom: 20px;        
        }
        
        .mouse-parallax__social {
            margin-bottom: 20px; 
            align-items: center;
            border-radius: 20%;

            .mouse-parallax__social-link {
                text-decoration: none;
                margin-right: 5px;
            }
            
        }
        
        .mouse-parallax__nav {
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 700;
            padding: 10px;
            color: $black;
            text-decoration: none;
        
            &:hover {
                text-decoration: underline;
            }
        }
    }
}



