$black: #000;
$white: #fdfdfd;
$grey: #333;
$light_grey: #a6a6a6;

.blog__item {
    //align-items: center;
    overflow: hidden;
    margin: 0 15px;

    &:hover {
        box-shadow: 0 0 25px rgba($color: $black, $alpha: .25);
    }

    .blog__header {
        position: relative;
        margin-bottom: 20px;

        .blog__date {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 77px;
            height: 77px;
            background-color: rgba($color: $grey, $alpha: .7);
            text-align: center;
            color: #fdfdfd;
            position: absolute;
            font-size: 16px;
            line-height: 21px;
        }

        .blog__photo {
            display: block;
            max-width: 100%;
            height: auto;
        }                
    }

    .blog__content {
        margin-bottom: 20px;

        .blog__title {
            font-size: 20px;
            color: $black;
            text-transform: uppercase;
            font-weight: 700;
            margin-bottom: 20px;
            text-decoration: none;
            color: inherit;
    
            &:hover {
                text-decoration: underline;
            }
        }

        .blog__category {
            font-size: 14px;
            color: $grey;
            text-transform: uppercase;
            margin-bottom: 20px;
        }

        .blog__text {
            color: $light_grey;
            font-size: 14px;
            line-height: 24px;
        }
    }
}


