<section class="blog">
    <div class="container">

        <div class="blog__header">
            <h3 class="blog__title">READ ME</h3>
            <div class="blog__text">Sometimes I write something smart</div>
        </div>

        <div class="articles">
            <div class="articles__col">
                <div class="articles__item">
                    <div class="articles__header">
                        <time class="articles__date">24<br>february</time>
                        <a href="#">
                            <img class="articles__photo" src="./assets/article_1.jpg" alt="photo" width="370px" height="300px">
                        </a>                                
                    </div>
                    <div class="articles__content">
                        <a href="#">
                            <h4 class="articles__title">A year as long as a day. A day as long as eternity.</h4>
                        </a> 
                        <div class="articles__category">War in Ukraine</div>
                        <div class="articles__text">I remember the evening of February 23, 2022, and the entire day of February 24, 2022, almost every hour and down to the last detail.
                            I remembered the looks of the two people the most.</div>
                    </div>
                    <div class="text-center">
                        <a class="btn" href="#">Read more</a>
                    </div>
                </div>
            </div>

            <div class="articles__col">
                <div class="articles__item">
                    <div class="articles__header">
                        <time class="articles__date">15<br>february</time>
                        <a href="#">
                            <img class="articles__photo" src="./assets/articles_2.jpg" alt="photo" width="370px" height="300px">
                        </a>                                
                    </div>
                    <div class="articles__content">
                        <a href="#">
                            <h4 class="articles__title">My house is on the edge: why is Ukraine's neutrality a mistake?</h4>
                        </a> 
                        <div class="articles__category">War in Ukraine</div>
                        <div class="articles__text">We mistakenly believe that everything will be fine if we do not interfere anywhere. 
                            As a result, everyone put forward claims: Romania, Hungary, Russia, and even Belarus.</div>
                    </div>
                    <div class="text-center">
                        <a class="btn" href="#">Read more</a>
                    </div>
                </div>
            </div>

            <div class="articles__col">
                <div class="articles__item">
                    <div class="articles__header">
                        <time class="articles__date">27<br>july</time>
                        <a href="#">
                            <img class="articles__photo" src="./assets/800Trutovskyi_U_kolodiazia.jpg.crdownload" alt="photo" width="370px" height="300px">
                        </a>                                
                    </div>
                    <div class="articles__content">
                        <a href="#">
                            <h4 class="articles__title">Are you ready to put your life on the line for sex?</h4>
                        </a> 
                        <div class="articles__category">different</div>
                        <div class="articles__text">Imagine sex, but the kind that brings you pleasure. 
                            Everything goes according to your wishes. The sensations are fantastic, you are half way to orgasm. 
                            But suddenly a siren bursts into your moan!</div>
                    </div>
                    <div class="text-center">
                        <a class="btn" href="#">Read more</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
