<div class="works">
    <div class="container">

        <div class="work__header">
            <h3 class="work__title">MY WORKS</h3>
            <div class="work__text">It is important for me the text is simple, useful, and it cares for the client.</div>
        </div>

        <div class="portfolio">

            <div class="portfolio__col">
                <div class="work">
                    <img class="work__image" src="./assets/works_1.JPG" alt="photo">                            
                    <div class="work__content">
                        <div class="work__category">Characterization of the archetypes</div>
                        <div class="work__title">Clown, Lover, and Boyfriend
                        </div>
                    </div>                            
                </div>
            </div>

            <div class="portfolio__col">
                <div class="work">
                    <img class="work__image" src="./assets/works_2.jpg" alt="photo">                            
                    <div class="work__content">
                        <div class="work__category">Article</div>
                        <div class="work__title">Religion and culture
                        </div>
                    </div>                            
                </div>
            </div>

            <div class="portfolio__col">
                <div class="work">
                    <img class="work__image" src="./assets/works_3.jpg" alt="photo">                            
                    <div class="work__content">
                        <div class="work__category">Travel guide</div>
                        <div class="work__title">Trip to Pereyaslav                             
                        </div>
                    </div>                            
                </div>
            </div>

            <div class="portfolio__col">
                <div class="work">
                    <img class="work__image" src="./assets/works_4.JPG.jpg" alt="">                            
                    <div class="work__content">
                        <div class="work__category">Advertising text</div>
                        <div class="work__title">Tourist tent for rent
                        </div>
                    </div>                            
                </div>
            </div>

            <div class="portfolio__col">
                <div class="work">
                    <img class="work__image" src="./assets/works_5.JPG.jpg" alt="">                            
                    <div class="work__content">
                        <div class="work__category">Article</div>
                        <div class="work__title">English-Ukrainian dictionary
                        </div>
                    </div>                            
                </div>
            </div>

            <div class="portfolio__col">
                <div class="work">
                    <img class="work__image" src="./assets/works_6.JPG.jpg" alt="">                            
                    <div class="work__content">
                        <div class="work__category">Examples</div>
                        <div class="work__title">Inactive ads
                        </div>
                    </div>                            
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center">
    <a class="btn" href="#">Load more work</a>
</div>
